# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environments
.venv/
venv/
env/

# IDEs
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Build and packaging
build/
dist/
*.egg-info/

# output files
.mp4